html{
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}
body{
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
nav{
    position: fixed;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background:#04677E;
    overflow: hidden;
    top: 0;
    display: block;
}
.logo{
    width: 80%;
    max-width: 157px ;
    max-height: 80px ;
    margin-left: 3%;
    margin-right: 2%;
}
.menu a{
    float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
.menu a:hover {
  background-color: none;
  color: black;
}

.menu a.active {
  background-color: none;
  color: white;
}

.menu .icon {
  display: none;
}
.menu input{
  margin-top: 10px;
  font-size: 17px;
  border: 1px solid grey;
  border-radius: 5px;
  float: left;
  width: 150px;
  background: #f1f1f1;
}
.menu button{
    width: 24px;
    height: 24px;
    margin-top: 10px;
}

#section1{
    margin-top: 60px;
    background: url('img/home2.png');
    background-color: #04677E;
    background-size: cover;
    display: inline-block;
    width: 100%;
    height: 750px;
    color: #04677E;
}
.boxcontain{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 3%;
    margin-right: 2%;
    margin-top: 2%;
}
.boxkiri{
    width: 40%;
    padding-right: 120px;
}
.boxkiri img{
    width: 100%;
    max-width: 1000px;
}
.boxkanan{
    width: 50%;
    margin: auto;
}
.boxkanan p{
    text-align: justify;
    color: #fafafa;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 20pt;
}
#section2{
    background:#04677E;
    display: inline-block;
    width: 100%;
    color: black;
}
.listw{
    text-align: center;
    margin-left: 3%;
}
.listw img{
    max-width: 279px;
    max-height: 481px;
    width: 60%;
    margin-right: 8%;
    margin-bottom: 1%;
}
#section3{
    background:#04677E;
    display: inline-block;
    width: 100%;
    color: black;
}
.listp{
    text-align: center;
    padding-left: 5%;
}
.listp img{
    max-width: 400px;
    max-height: 410px;
    width: 70%;
    margin-right: 10%;
    margin-bottom: 1%;
}
#section4{
    background: #00728B;
    display: inline-block;
    width: 100%;
    color: black;
}
iframe{
    margin-left: 28%;
}
#section5{
    background: url('img/bg_contact.png');
    background-color: #04677E ;
    background-size: cover;
    display: inline-block;
    width: 100%;
    max-height: 850px;
    color: black;
}
#section6{
    background:#04677E ;
    background-size: cover;
    display: inline-block;
    width: 100%;
    color: black;
}
.listb{
    text-align: center;
    padding-left: 5%;
}
.listb img{
    max-width: 433px;
    max-height: 345px;
    width: 70%;
    margin-right: 10%;
    margin-bottom: 1%;
}
#section7{
    display: inline-block;
    background: url('img/About.png');
    background-color: #04677E ;
    background-size: cover;
    width: 100%;
    max-height: 850px;
    color: black;
}
#section7 p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20pt;
    text-align: justify;
    margin-top: 5%;
    margin-left: 8%;
    width: 85%;
    max-width: 600px;
    box-sizing: border-box;
    color: #fafafa;
}
h1{
    text-align: center;
    padding: 0;
    margin-top: 5%;
}
.contact-form{
	box-sizing: border-box;
    margin-left: 8%;
    border: 1px;
    max-width: 500px
}
.textcollor label{
  	display: block;
  	text-align: left;
  	color: #fafafa;
  	text-transform: uppercase;
  	font-size: 20px;
  	font-family: fantasy;
  	font-style: unset;
}
.textcollor input{
    max-width: 400px;
    width: 80%;
	height: 25px;
	font-family: sans-serif;
	font-size: 16px; 
	border: 1px;
	border-radius: 3px;
}
.textcollor textarea{
    max-width: 400px;
    width: 80%;
    height: 100px;
	font-family: sans-serif;
	font-size: 16px; 
	border: 1px;
    border-radius: 3px;
}
@media screen and (max-width: 1280px){
    #section1{
        height: 800px;
    }
    h1{
        margin-top: 200px;
    }
    .boxkanan,.boxkiri,.boxcontain{
        width: 70%;
        padding-left: 10%;
    }
}
@media screen and (max-width: 800px){
    .menu a:not(:first-child) {display: none;}
    .menu a.icon {
      float: right;
      display: block;
    }
}
@media (max-width: 600px){
    .boxkanan,.boxkiri,.boxcontain{
        width: 80%;
        padding-left: 10%;
    }
    
    iframe{
        margin-left: 3px;
}
@media screen and (max-width: 600px) {
    .menu a:not(:first-child) {display: none;}
    .menu a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .menu.responsive {position: relative;}
    .menu.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .menu.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
/* landing wisata dan penginapan */
#landwis{
    background:#04677E ;
    background-size: cover;
    display: inline-block;
    width: 100%;
    color: black;
}
#landpeng{
    background:#04677E ;
    background-size: cover;
    display: inline-block;
    width: 100%;
    max-height: 1500px;
    height: 80%;
    color: black;
}
.box-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}
.box-kiri{
    width: 40%;
    padding-right: 10px;
}
.box-kiri img{
    width: 100%;
    max-width: 1000px;
}
.box-kanan{
    width: 40%;
    margin: auto;
}
.box-kanan h2{
    font-size: 30px;
    padding-bottom: 2%;
    text-align: center;
    color: #fff;
}
.box-kanan p{
    text-align: justify;
    color: #fafafa;
}
.box-kanan button{
    width: 60%;
    height: 30px;
    text-align: center;
    margin-left: 20%;
}

@media (max-width: 700px){
    .box-kanan,.box-kiri{
        width: 70%;
    }
}
@media (max-width: 320px){
    .box-kanan input{
        width: 90%;
    }
}
