html{
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}
body{
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    width: 100%;
    background: #04677E;
    overflow: hidden;
    position: fixed;
    top: 0;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
li{
    float: left
    
}
img{
    padding-right:100px ;
}
.menu{
    padding-top: 30px;
    padding-right: 20px;
    display: block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
#section1{
    background: #04677E;
    background-size: cover;
    display: inline-block;
    width: 100%;
    color: #04677E;
}
#section2{
    background:#04677E;
    display: inline-block;
    width: 100%;
    color: black;
}
#section3{
    background:#04677E;
    display: inline-block;
    width: 100%;
    color: black;
}
#section4{
    background: #04677E;
    display: inline-block;
    width: 100%;
    color: black;
}
#section5{
    background: url('img/bg_contact.png');
    background-color: #04677E ;
    background-size: cover;
    display: inline-block;
    width: 100%;
    color: black;
}
#section6{
    background:#04677E ;
    background-size: cover;
    display: inline-block;
    width: 100%;
    color: black;
}
#section7{
    display: inline-block;
    width: 100%;
    color: black;
}
