html{
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}
body{
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    width: 100%;
    background: #04677E;
    overflow: hidden;
    position: fixed;
    top: 0;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
li{
    float: left
    
}
img{
    padding-right:100px ;
}
.menu{
    padding-top: 30px;
    padding-right: 20px;
    display: block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
#section1{
    background: #04677E;
    background-size: cover;
    display: inline-block;
    width: 100%;
    color: #04677E;
}
#section2{
    background:#04677E;
    display: inline-block;
    width: 100%;
    color: black;
}
#section3{
    background:#04677E;
    display: inline-block;
    width: 100%;
    color: black;
}
#section4{
    background: #04677E;
    display: inline-block;
    width: 100%;
    color: black;
}
#section5{
    background: url('img/bg_contact.png');
    background-color: #04677E ;
    background-size: cover;
    display: inline-block;
    width: 100%;
    color: black;
}
#section6{
    background:#04677E ;
    background-size: cover;
    display: inline-block;
    width: 100%;
    color: black;
}
#section7{
    display: inline-block;
    width: 100%;
    color: black;
}
h1{
    margin: 100px;
    text-align: center;
    padding: 0;
}
.bg1{
    position: static;
    z-index: 1;
    top: 0px;
}
.search{
    z-index: 2;
    margin-top: 150px;
    margin-right: 5px;
    width: 300px;
    height: 30px;
    float: right;
    border: 1px;
    border-radius: 10px;
}
.submit{
    z-index: 3;
    margin-top: 150px;
    margin-right: 20px;
    width: 70px;
    height: 30px;
    float: right;
    border: 1px;
    border-radius: 10px;
}
.listw{
    margin-left: 150px;
}
.contact-form{
	box-sizing: border-box;
	margin-left: 100px;
	width: 600px;
}
.textcoollor{
  	border:10px solid blue;
  	margin: 0px 0;
  	padding: 0px 0px;
  	border-radius: 50px;
}
.textcollor label{
  	display: block;
  	text-align: left;
  	color: #fafafa;
  	text-transform: uppercase;
  	font-size: 20px;
  	font-family: fantasy;
  	font-style: unset;
}
.textcollor input{
	margin: 0%;
	height: 25px;
	font-family: sans-serif;
	font-size: 16px; 
	border: 1px;
	border-radius: 3px;
}
.textcollor textarea{
    margin: 0%;
    height: 100px;
	font-family: sans-serif;
	font-size: 16px; 
	border: 1px;
	border-radius: 3px;
}
